h1,li,ul{
    text-align:center;
}

h2,h3{
    display:inline;
}

.habilidades{
    padding:20px;
    color:antiquewhite;
}

section{
    box-shadow: 0px -2px 5px black;
}

.myDiv {
    display: flex;
    justify-content: center;
  }

i:hover {
    color: rgb(28, 100, 255);
}