
<section class="vh-130 gradient-custom">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class=" pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Cargar datos del nuevo proyecto</h2>
  
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
  
  
                  <div class="form-outline form-white mb-4">
                    <label for="tituloP">Titulo del proyecto</label>
                    <input type="text" id="tituloP" autocomplete="off" name="tituloP" class="form-control form-control-lg" [(ngModel)]="tituloP" required />
                  </div>
  
                  <div class="form-outline form-white mb-4">
                    <label for="tecnologia">Tecnologias utilizadas</label>
                    <input type="text" id="tecnologia" autocomplete="off" name="tecnologia" class="form-control form-control-lg" [(ngModel)]="tecnologia" required />
                  </div>

                  <div class="form-outline form-white mb-4">
                    <label for="imagen">URL de una imagen del proyecto</label>
                    <input type="text" id="imagen" autocomplete="off" name="imagen" class="form-control form-control-lg" [(ngModel)]="imagen" required />
                  </div>
  
                  <div class="form-outline form-white mb-4">
                    <label for="descripcionP">Descripcion del proyecto</label>
                    <input type="text" id="descripcionP" autocomplete="off" name="descripcionP" class="form-control form-control-lg" [(ngModel)]="descripcionP" required />
                  </div>
  
                  <div>
                    <a routerLink="/home" class="btn btn-outline-light btn-lg px-3 mb-3">Volver</a>
                    <button class="btn btn-outline-light btn-lg px-3 mb-3 ms-3" type="submit">Guardar</button>
                  </div>
                  
                  
                </form>
                
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
