#fotoPerfil{
    box-shadow: 3px 3px 5px black;
    max-width: 200px; 
    max-height: 200px;
}

#logoCurso{
    max-height: 90px;
}

#logoLinked{
    max-height: 40px;
}

#logoGit{
    max-height: 40px;
}


#info-actions{
    padding-bottom: 15px;
}

.encabezado{
    padding: 20px;
}

h1{
    text-align: center;
}

section{
    box-shadow: 0px -2px 5px darkorange;
}

.btn{
    border-width: 2px;
}

.active{
    display: flex;
    align-items: center;
}

header{
    background-repeat: no-repeat;
    background-size: cover;
}

.sombra{
    text-shadow: 2px 2px black;
}

button{
    box-shadow: 2px 2px 5px black;
}


